<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @alcohol_genre do |f| %>
        <%= f.label :"お酒ジャンル追加" %>
        <%= f.text_field :name %>
        <%= f.submit "保存" %>
      <% end %>
      <div class="alcohol_genre">
        <% @alcohol_genres.each do |alcohol_genres| %>
          <%= alcohol_genres.id %>
          <%= alcohol_genres.name %>
          <%= link_to "編集", edit_alcohol_genre_path(alcohol_genres) %>
        <% end %>
      </div>
    </div>
  </div>
</div>