<div>
  <div class="section-border1"></div>
  
  <div class="user-sign-up">
    <h2>新規登録</h2>
      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <table class="table table-bordered new-table">
        	<tbody>
        		<tr class="table-row">
        			<th colspan="2" class="table-head"><%= f.label :"ユーザーネーム" %><br><%= f.text_field :user_name, autofocus: true %>
        		</tr>
        		<tr class="table-row">
        			<th colspan="1" class="table-head"> <%= f.label :"姓" %><br> <%= f.text_field :first_name, autofocus: true %></th>
        			<th colspan="1" class="table-head"><%= f.label :"名" %> <br><%= f.text_field :last_name, autofocus: true %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="1" class="table-head"><%= f.label :"せい" %><br> <%= f.text_field :first_name_kana, autofocus: true %></th>
        			<th colspan="1" class="table-head"><%= f.label :"めい" %><br> <%= f.text_field :last_name_kana, autofocus: true %><br /></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="2" class="table-head"><%= f.label :"電話番号" %><br> <%= f.text_field :phone_number, autofocus: true %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="2" class="table-head"><%= f.label :"メールアドレス" %><br> <%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="1" class="table-head"><%= f.label :"パスワード(6文字以上)" %><br>
                  <%= f.password_field :password, autocomplete: "new-password" %>
              </th>
        			<th colspan="1" class="table-head"><%= f.label :"パスワード(確認用)" %><br> <%= f.password_field :password_confirmation, autocomplete: "new-password" %></th>
        		</tr>
        	</tbody>
        </table>
        <div class="actions">
          <div>
            <%= f.submit "登録", class: "btn btn-outline-secondary new-submit mb-3" %>
          </div>
          <div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
