<div>
  <div class="section-border1"></div>

  <div class="user-sign-up">
    <h2>登録情報</h2>
        <table class="table table-bordered new-table">
        	<tbody>
        	  <tr class="table-row">
        			<th colspan="2" class="table-head"></th><%= image_tag @user.get_profile_image(100,100), width: '20%', height: '20%' %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="2" class="table-head"><%= "ユーザーネーム" %><br><%= @user.user_name %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="2" class="table-head"><%= "好きなお酒" %><br><%= @user.favorite_alcohol %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="2" class="table-head"><%= "自己紹介" %><br><%= @user.introduction %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="1" class="table-head"> <%= "姓" %><br><%= @user.last_name %></th>
        			<th colspan="1" class="table-head"><%= "名" %> <br> <%= @user.first_name %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="1" class="table-head"><%= "せい" %><br> <%= @user.last_name_kana %></th>
        			<th colspan="1" class="table-head"><%= "めい" %><br> <%= @user.first_name_kana %></th>
        		</tr>
        		<tr class="table-row">
        			<th colspan="1" class="table-head"><%= "電話番号" %><br> <%= @user.phone_number %></th>
        			<th colspan="1" class="table-head"><%= "メールアドレス" %><br> <%= @user.email %></th>
        		</tr>
        	</tbody>
        </table>
      <div class="new-submit">
        <%= link_to "登録情報編集", edit_user_path(@user), class: "btn btn-outline-secondary new-submit mb-3" %>
      </div>
      <div class="new-submit">
        <% if @user.admin == false %>
          <%= link_to "アカウント削除", unsubscribe_users_path, class: "btn btn-outline-secondary new-submit mb-3" %>
        <% end %>
      </div>
  </div>
</div>