<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @user.get_profile_image(100,100) %><br>
      <%= @user.user_name %><br>
      <%= @user.introduction %><br>
      <% if @user.favorite_alcohol.present? %>
          <%= "#" + @user.favorite_alcohol + "好き" %>
      <% end %>

      <div>
        <% if current_user %>
         <%= link_to "登録情報詳細", user_mypage_path(@user) %>
        <% end %>
      </div>
      <dev>
        <%= link_to "保存した投稿", user_saved_recipes_path(@user) %>
      </dev>
       <dev>
        <%= link_to "保存したAI", chat_path(@user) %>
      </dev>
    </div>

    <div class="col-8">
      <ul>
       <% @user.recipes.each do |recipes| %>
        <li class="mb-5">
           <%= link_to recipe_path(recipes) do%>
             <%= image_tag recipes.get_recipe_image(100,100) %>
             <%= recipes.title%>
             <%= recipes.body%>
             <%= recipes.comments.count %>
           <% end %>
        </li>
       <% end %>
      </ul>
    </div>
  </div>
</div>
