<div class="section-border1"></div>
<div class="tumami_maker">
  <h3>『おつまみメーカー』</h3>
  <h5>に聞いて今日のおつまみを考えてもらう</h5>
  <div>
    <p>今ある食材やお菓子を入れて<br>『おつまみ考えて！』<br>ボタンで何ができるか聞いてみよう</p>
    <%= form_with(url: chats_path, method: :get) do |f| %>
      <%= f.text_field :question, size: 50, placeholder: "じゃがりこ、たまご、とうふ、などなど" %>
      <%= f.submit "で作るおつまみ考えて！" %>
    <% end %>
  </div>
  <div class="answer">
    <%= simple_format(@answer) %>
    <% if user_signed_in? %>
      <% if @answer.present? %>
        <%= link_to "回答を保存", chats_path(text: @answer), method: :post %>
      <% end %>
    <% end %>  
  </div>
  
</div>
