
<div>
  <% if user_signed_in? %>
    <% if current_user.admin == true %>
      <%= link_to "管理者ページ", users_admin_top_path, class: "link  ml-3" %>
    <% end %>
  <% end %>
  
  <div class="section-border1"></div>
  
  <div class="main-image d-flex justify-content-center p-5 mt-5 w-100">
   <%= image_tag 'main-image.jpg', size: "1000x500"%>
  </div>
  
  <div class="section-border"></div>

  <div class="pickup d-flex flex-column mb-5">
    <h3 class="text-top">Pick Upおつまみ</h3>
      <div class="d-flex justify-content-between">
        <div class="pickup-recipe">
          <%= link_to recipe_path(@recipe2) do%>
            <%= image_tag @recipe2.get_recipe_image(200,200) %>
            <h4><%= @recipe2.title %></h4>
          <% end %>
        </div>
        <div class="pickup-recipe">
          <%= link_to recipe_path(@recipe3) do%>
            <%= image_tag @recipe3.get_recipe_image(200,200) %>
            <h4><%= @recipe3.title %></h4>
          <% end %>
        </div>
        <div class="pickup-recipe">
          <%= link_to recipe_path(@recipe4) do%>
            <%= image_tag @recipe4.get_recipe_image(200,200) %>
            <h4><%= @recipe4.title %></h4>
          <% end %>
        </div>
        <div class="pickup-recipe">
          <%= link_to recipe_path(@recipe5) do%>
            <%= image_tag @recipe5.get_recipe_image(200,200) %>
            <h4><%= @recipe5.title %></h4>
          <% end %>
        </div>
      </div>
  </div>
    
  <div class="section-border"></div>

  <div class="tags mt-5 mb-5">
    <h3 class="text-top">タグで探す</h3>
    <% @tags.each do |tags| %>
      <%= link_to tags.name, tag_path(tags), class: "btn btn-outline-dark mt-3"%>
    <% end %>
  </div>
  
  <div class="section-border"></div>
  <div class="beer_recipe d-flex flex-wrap mt-5">
    <div class="box box1 d-flex justify-content-center">
       <p><span class="beer">ビール</span><br>とつまむ</p>
    </div>
    
     <% @beer.each do |beer_recipe| %>
        <div class="box box2">
          <%= link_to recipe_path(beer_recipe) do %>
            <div class="box-image mt-2 mb-2"><%= image_tag beer_recipe.get_recipe_image(200,200) %></div>
            <div class="box-text mt-5"><%= beer_recipe.title %></div>
          <% end %>
        </div>
    <% end %>
    
    <div class="box box1 d-flex justify-content-center">
      <%= image_tag 'beer.jpg', size: "300x300"%>
    </div>
  </div>
  
  <div class="section-border"></div>

  <div class="beer_recipe d-flex justify-content-center flex-wrap mt-5">
    <div class="box box1 d-flex justify-content-center">
       <%= image_tag 'wine.jpg', size: "300x300"%>
    </div>
     <% @wine.each do |wine_recipe| %>
        <div class="box box2">
          <%= link_to recipe_path(wine_recipe) do %>
            <div class="box-image mt-2 mb-2"><%= image_tag wine_recipe.recipe_image, size: "200x200" %></div>
            <div class="box-text mt-5"><%= wine_recipe.title %></div>
          <% end %>
        </div>
    <% end %>
    <div class="box box1 d-flex justify-content-center">
      <p><span class="wine">ワイン</span><br>に合わせる</p>
    </div>
  </div>
  
  <div class="section-border"></div>
  
  <div class="favorite-ranking">
    <h3 class="text-top">人気のおつまみ</h3>
    <div class="">
      <div class="pickup-recipe d-flex justify-content-between">
        <% @recipe_favorites.each do |favorite_recipe| %>
          <div class="pickup-recipe-content" >
            <%= link_to recipe_path(favorite_recipe) do %>
              <%= image_tag favorite_recipe.get_recipe_image(170,170) %>
              <p><%= favorite_recipe.title %></p>
              <%= favorite_recipe.favorites.count %>♡
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>