<div>
  <div class="section-border1"></div>

  <div class="main-image d-flex justify-content-center">
    <%= image_tag 'index.jpg', width: '100%', height: '100%'%>
  </div>

  <div class="section-border"></div>

  <div class="index-top">
    <div class="index-content">
      <% @recipes.each do |recipes| %>
         <div class="user-recipes">
           <%= link_to recipe_path(recipes) do%>
             <div class="user-recipe-blok d-flex">
              <%= image_tag recipes.get_recipe_image(250,250), width: '50%', height: '50%' %>
                <div class="phone-recipe">
                  <%= content_tag :div, recipes.title, class: "user-recipe-title phone-user-recipe-title" %>
                  <%= content_tag :div, "調理時間#{recipes&.cook_time}", class: "user-recipe-image" %>
                </div>
             </div>
              <%= content_tag :div, recipes.title, class: "user-recipe-title pc-user-recipe-title" %>
              <%= content_tag :div, recipes.body, class: "user-recipe-body" %>
           <% end %>
          </div>
       <% end %>
     </div>   
  </div>
</div>
