<div class="container">
  <h2>Recipe New</h2>

  <%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :alcohol_genre_id, 'お酒の種類' %>
          <%= f.collection_select(:alcohol_genre_id, AlcoholGenre.all, :id, :name, {}, class: 'form-control') %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :body, '内容' %>
      <%= f.text_area :body, rows: 3, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= f.label :point, 'ポイント' %>
          <%= f.text_field :point, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= f.label :cook_time, '調理時間' %>
          <%= f.text_field :cook_time, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tag, 'タグ' %>
      <%= f.text_field :tag, class: 'form-control' %>
      <small class="text-black-50">スペースで区切ることで複数指定できます。</small>
    </div>

    <div class="form-group mt-5">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>