<div class="header-border">

  <div id="t1" class="clock"></div>

  <div class="header-logo">
      <%= link_to root_path, class: "link" do %>
        <%= image_tag 'logo10.png', width: '85%', height: '850%', class: "pc-logo" %>
        <h3 class="phone-logo phone-logo1">おつまみ</h3>
        <h3 class="phone-logo phone-logo2">倶楽部</h3>
      <% end %>
  </div>

  <div class="search">
    <%= search_form_for @q, url: search_recipes_path do |f| %>
      <div>
        <%= f.label :title_cont, '〜おつまみを探す〜' , class: "search-text" %>
        <%= f.label :title_cont, 'おつまみ検索' , class: "search-text-phone" %>
      </div>
      <div class="search-area">
        <%= f.search_field :title_cont, class: "search-form" %>
        <div class= "search-submit">
          <%= f.submit '検索',class: "search-submit btn btn-outline-dark p-0 pl-1 pr-1" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="header-link">
    <div class="mt-2 menu">
      <h4>メニュ〜</h4>
    </div>
    <% if user_signed_in? %>
      <div class="pc-page">
        <li>
          <%= link_to "・おつまみ一覧から探す", recipes_path, class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・合うお酒を選んで探す", recipes_path, class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・つまみメーカーに聞く", chats_path, class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・マイページ", user_path(current_user), class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・ログアウト", destroy_user_session_path, method: :delete, class: "link  ml-3" %>
        </li>
      </div>
      <ul class="phone-page">
        <li>
          <%= link_to "・おつまみ一覧", recipes_path, class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・合うお酒で探す", recipes_path, class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・つまみメーカー", chats_path, class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・マイページ", user_path(current_user), class: "link  ml-3" %>
        </li>
        <li>
          <%= link_to "・ログアウト", destroy_user_session_path, method: :delete, class: "link  ml-3" %>
        </li>
      </ul>
    <% else %>
      <li>
        <%= link_to "・つまみメーカーに聞く", chats_path, class: "link ml-3" %>
      </li>
      <li>
        <%= link_to "・おつまみ一覧から探す", recipes_path, class: "link  ml-3" %>
      </li>
      <li>
        <%= link_to "・合うお酒を選んで探す", recipes_path, class: "link  ml-3" %>
      </li>
      <li>
        <%= link_to "・新規登録", new_user_registration_path, class: "link  ml-3" %>
      </li>
      <li>
        <%= link_to "・ログイン", new_user_session_path, class: "link  ml-3" %>
      </li>
    <% end %>
  </div>
  <div class="menu" id="menu-button">
    <a href="#">MENU</a>
  </div>
</div>
