<!DOCTYPE html>
<html>
  <head>
    <title>OtumamiClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= stylesheet_link_tag 'custom' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="layouts">
      <div class="col mx-0 px-0 header-background">
        <header class="header"><%= render 'layouts/header' %></header>
      </div>


      <div class="main main-content">
        <%= render 'layouts/alcohol_genre' %>
        <%= yield %>
        <div class="section-border2"></div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
